<style>
  nav {
    display: flex;
    justify-content: flex-start;
    background-color: #212121;
    color: white;
    padding: 1rem;

    a {
      color: white;
      text-decoration: none;
      margin: 0 1rem;
      &.active {
        color: paleturquoise;
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
</style>
<h2>Dragonball</h2>
<hr />
<section class="row">
  <dragonball-add-character
    [characters]="dragonballService.characters()"
    (charactersChange)="dragonballService.characters.update(() => $event)"
  ></dragonball-add-character>
  <dragonball-character-list
    listName="Listado de personajes"
    [characters]="dragonballService.characters()"
    class="col-12 col-sm-6"
  ></dragonball-character-list>
</section>
